</br>
</br>
<div style = "text-align: center">
		<h1>長野県にある小さな洋菓子店「ながのCAKE」の通販サイトです。</h1>
</div>
</br>
</br>
</br>
<div class="container">
		<h2>店舗情報</h2>
		<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
		〒000-0000 長野県棒銀派市1-2-34
</div>