<div style = "text-align: center">

		<h1>長野県にある小さな洋菓子店「ながのCAKE」の通販サイトです。</br>
		下記から商品を検索ください。</h1>

	</div>


新着商品一覧(何件）
商品をクリック→　商品詳細ページへ遷移
<%#= link_to 'マイページ', product_path(product.id) %>



ジャンル検索リンク
ジャンル検索リンクをクリック→　商品一覧ページへ遷移
<%= link_to 'ジャンル検索リンク', products_path %>







