
<div class="container">
  <div class="row">


    <div class="col-md-8 offset-md-1">
<h2>ジャンル詳細</h2>
 <%= link_to "新規登録",new_admins_products_genre_path %>
<table class="table table-inverse">
      <thead>
    <tr>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>
      <% @products_genre.each do |products_genre| %>
        <tr>

          <td>
            <p><%= products_genre.id%></p>
          </td>
          <td>
            <p><%= products_genre.name%></p>
          </td>
        </tr>
      <% end %>
      </table>
     </div>



  </div>
</div>