
<div class="container">
  <div class="row">

    <h2>会員一覧</h2>
  </div>
  <div class="col-xs-10 member-index">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>退会フラグ</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
        <tr>
          <td><%= member.id %></td>
          <td><%= link_to member.full_name, admins_admin_path(member.id) %></td>
          <td><%= member.email %></td>
          <td><%= member.is_deleted %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>