<p>注文履歴一覧（管理者Topページ）</p>

ログイン後、ヘッダーから遷移した場合  →  全会員の注文履歴

<!-- 注文一覧画面 -->
<div class="row" style="width:60%; margin:0 auto;">
<h4>注文履歴一覧画面</h4>

  <table class="table table-bordered">
  	<tr>
  		<th>購入日時</th>
  		<th>購入者</th>
  		<th>注文個数</th>
  		<th>ステータス</th>
  	</tr>



会員詳細から遷移  →  該当会員のみの注文履歴

注文日時をクリック  →  注文履歴詳細画面へ遷移