
<!-- 注文一覧画面 -->
<div  style="width:60%; margin:0 auto;">
<h4>注文履歴一覧画面</h4>

<table class="table table-bordered">
  	<tr>
  		<th>注文日時</th>
  		<th>注文者</th>
  		<th>注文個数</th>
  		<th>注文ステータス</th>
  		<th>製作ステータス</th>
  	</tr>

    <% @orders.each do |order| %>
  	<tr>
  	  <td><%= link_to order[:created_at].strftime("%Y-%m-%d %H:%M"), admins_order_path(order) %></td>
  		<td><%= order.member.last_name %><%= order.member.first_name %></td>
  		<td><%# @cart_products.each do |cart_product| %>
  		<%# if cart_product.<%= @cart_products.quantity %>
  		<%#end%></td>
  		<td><%#= order_status %>
              <span class="badge" style="background: red;"><%#= order.deposit_status %></span>
          <%# when "発送待ち" %>
              <span class="badge" style="background: green;"><%#= order.deposit_status %></span>
              <%# when "発送済み" %>
              <span class="badge" style="background: blue;"><%#= order.deposit_status %></span>
        <%# end %></td>
  	 </tr>
    <% end %>
  </table>
  
  

